
.styledInput::placeholder {
    border-color: #26baff;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  
.styled-input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.styledInput {
    padding: 0.5rem;
    border: 1px solid #8b8a8a;
    border-radius: 4px;
    width: 40%;
    box-sizing: border-box;
  }

  